<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MyNotes</title>
</head>
<body>  
  <nav class="navbar sticky-top navbar-light bg-info">
    <h1 class="text-white">{{title}}</h1>
  </nav>
  
  <div class="container-fluid">
    <div class="notes card-columns" *ngIf="noteList">
      
      <div class="card">
        <div class="card-header text-right">
          <button type="submit" class="btn btn-primary" (click)="createNote()">Add</button>
        </div>

        <div class="card-body">
          <input type="text" name="title" id="title" [(ngModel)]="newNote.title" placeholder="Title" class="form-control" maxlength="255">
          <textarea name="content" id="content" [(ngModel)]="newNote.content" placeholder="Content" class="form-control" maxlength="1024" rows="5"></textarea> 
        </div>
      </div>

      <div class="note card" (dbclick)="editNote(note)" *ngFor="let note of noteList">
        <div class="card-header text-right">
          <div class="o">
            <button class="btn btn-primary" (click)="editNote(note)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteNote(note)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
            
        <div class="card-body">
          <ng-container *ngIf="!editNotes.includes(note); else editN">
            <h5 class="card-title">{{note.title}}</h5>
            <p class="card-text">{{note.content}}</p>
          </ng-container>
                
          <ng-template #editN>
            <input type="text" name="title" id="title" (keypress)="submitNote($event, note)" [(ngModel)]="note.title" placeholder="Title" class="form-control" maxlength="255">
            <textarea name="content" id="content" [(ngModel)]="note.content" placeholder="Content" class="form-control" maxlength="1024" rows="5"></textarea>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</body>
</html>